# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Node / web
node_modules/
dist/
build/

# OS / IDE / secrets
.DS_Store
.vscode/
*.env
*.log

render/out/*

# 대용량 데이터/아티팩트 파일 무시
data/downloads/*
data/tmp/*
*.zip
*.tar
*.tar.gz
*.7z
*.wav
*.mp3